<!-- Right Sidebar -->
<aside class="col-md-3">
    <div class="sidebar-box">
        <div class="list-group list-group-root">
            <a class="list-group-item" href="#">Các bài viết mới nhất</a>
            <a class="list-group-item" href="#">Các chuyên mục nổi bật</a>
            <a class="list-group-item" href="#">Các topic nổi bật</a>
            <a class="list-group-item" href="#">Các bài viết nổi bật</a>
        </div>
    </div>

    <div class="sidebar-box sidebar-box-bg">
        <h5 class="block-inline">Số người dùng online: </h5><span> 100</span>
    </div>
</aside>