<!-- Left sidebar -->
<aside class="col-md-3">
  <div class="sidebar-box">
      <div class="list-group list-group-root">
          <% categories.each do |category| %>
            <a class="category list-group-item" href="#" ><%= category.title %></a>
          <% end %>
      </div>
  </div>
</aside>