<!-- Left sidebar -->
<aside class="col-md-3">
  <div class="sidebar-box">
      <div class="list-group list-group-root">
          <% categories.each do |category| %>
            <%= link_to category.title, category_path(id: category.id), class: "category list-group-item" %>
          <% end %>
      </div>
  </div>
</aside>